.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    border-bottom: 3px solid lightblue;
    border-right: 3px solid lightgray;
    width: 400px;
    text-align: center;
    transition: all .7s;
    margin-left: 30px;;
    
}

h1:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px 5px rgba(0, 85, 170, 0.226);
}

img {
    width: 400px;
    height: 400px;
    margin: 15px;
    transition: all .7s;
    filter: grayscale(100%);
}



img:hover {
    transform: scale(1.1);
    animation: infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    filter: grayscale(0%);
}